.head{
    text-align: center;
    color: rgb(83, 7, 7);
}
h1{
    color: white;
}
body{
    gap:60px;
    width: 100%;
    background-color: rgb(202, 242, 82);
}
.body{
    margin-left: 4%;
    margin-top: 3%;
    height: 400px;
    width: 800px;
}
.quiz{
    height: 300px;
    width:700px;
    position: relative;
}
.que{
    color: rgb(7, 7, 7);
    font-size: 25px;
    font-weight: bold;
    justify-self: center;
}
.opt{
    font-weight: bolder;
}
.submit{
    margin-left: 350px;
}
button{
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background: rgb(213, 50, 238);
    color: rgb(237, 241, 244);
}
.ans label{
    color: rgb(254, 254, 254);
    text-transform: capitalize;
    cursor: pointer;
}
.body span{
    font-size: 30px;
    color: rgb(1, 8, 8);
}
.ans label:hover{
    color:yellow;
}
